@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --blue-crayola: #5680e9ff;
  --sky-blue: #84ceebff;
  --cyan-process: #5ab9eaff;
  --indigo: #440381ff;
  --granny-smith-apple: #90e39aff;
}

* {
  box-sizing: border-box;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width: 400px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--blue-crayola);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.container p,
li {
  font-size: 1.2em;
}

.description {
  text-align: left;
}

.navbar {
  display: flex;
  background: linear-gradient(var(--sky-blue), var(--blue-crayola));
  align-items: center;
  justify-content: center;
  /* margin: 10px; */
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* .logo {
  width: 80px;
  height: 80px; 
} */

.nav {
  padding: 40px;
}

.nav a {
  font-size: 1.5em;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.main {
  background-color: var(--cyan-process);
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#logo a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

#hero {
  width: 100%;
  height: 200px;
  text-align: center;
  margin: auto;
  padding: 20px 0;
}

h1 {
  font-family: 'Varela Round', sans-serif;
  font-size: 3em;
}

#html {
  width: 60%;
  height: 350px;
  background-color: var(--granny-smith-apple);
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
#css {
  width: 45%;
  height: 350px;
  background-color: var(--indigo);
  color: white;
  text-align: center;
  margin: auto;
}

#script {
  width: 45%;
  height: 350px;
  background-color: var(--blue-crayola);
  text-align: center;
  margin: auto;
}
