@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --primary: #38aecc;
  --secondary: #aafac8;
  --highlight: #dc0073;
  --button: #4059ad;
  --lightColor: #f2e2d2;
}

* {
  box-sizing: border-box;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  width: 400px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary);
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.navbar {
  display: flex;
  background-color: var(--secondary);
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 80px;
  height: 80px;
}

.nav {
  padding: 40px;
}

.nav a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.main {
  background-color: var(--highlight);
  width: 100%;
  height: 100%;
}

#logo a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

#hero {
  width: 100%;
  height: 200px;
  text-align: center;
  margin: auto;
  padding: 20px 0;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3em;
}

#info {
  width: 50%;
  height: 350px;
  background-color: var(--button);
  text-align: center;
  margin: auto;
  padding: 80px 0;
}
#why {
  width: 50%;
  height: 350px;
  background-color: var(--lightColor);
  text-align: center;
  margin: auto;
  padding: 80px 0;
}

/* 
#DC0073
#F2E2D2
#AAFAC8
#38AECC
#4059AD

#FFC09F
#C2AFF0
#9191E9
#34E4EA
#F7996E

#533745
#FF5964
#EADEDA
#C589E8
#33658A



*/
